:root {
    --cor-fundo: #3b3b3b;
    --cor-botao-editar: #4caf50;
    --cor-botao-deletar: #ff5722;
    --cor-texto: #333333;
    --cor-input: #ffffff;
    --cor-botao-editarhover: #009e97;
    --cor-botao-deletar-hover: #c0392b;
    --cor-fundo-item: #ccc;;
    --cor-cabecalho: #e6e6e6;
    --cor-borda: #cccccc;
    --cor-eletronicos: #ff9800;
    --cor-eletrodomesticos: #3f51b5;
    --cor-moveis: #8bc34a;
    --cor-decoracao: #9c27b0;
    --cor-vestuario: #e91e63;
    --cor-outros: #607d8b;
}

* {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
    box-shadow: none;
}

body {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
}

main {
    background-color: #f0f0f0;
    border-radius: 1rem;
    margin: 3rem;
    padding: 1rem;
    min-width: 45rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.secao__cabecalho {
    background-color: #e6e6e6;
    border-radius: 1rem;
    margin-inline: 1rem;
    margin-bottom: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.cabecalho__botao {
    background-color: #009e97;
    color: #ffffff;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.cabecalho__busca {
    border-radius: 1rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra__busca {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 0.5rem;
    backdrop-filter: blur(2rem) saturate(200%);
}

.barra__busca input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: #333333;
}

::placeholder {
    color: #333333;
}

.barra__busca button {
    border: 0;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    color: #ccc;
}

.barra__busca button img{
    width: 1.5rem;
    color: #ccc;
}

.secao__itens {
    background-color: #e6e6e6;
    border-radius: 1rem;
    margin-inline: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.secao__itens__item {
    padding: 1rem;
}

.secao__itens__dados {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.id__categoria__sku {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 0.3rem;
}

.id {
        padding: 0.3rem;
}

.categoria {
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
}

.categoria__eletronicos {
    background-color: var(--cor-eletronicos);
}

.categoria__eletrodomesticos {
    background-color: var(--cor-eletrodomesticos);
}

.categoria__moveis {
    background-color: var(--cor-moveis);
}

.categoria__decoracao {
    background-color: var(--cor-decoracao);
}

.categoria__vestuario {
    background-color: var(--cor-vestuario);
}

.categoria__outros {
    background-color: var(--cor-outros);
}

.sku {
    padding: 0.3rem;
    flex-grow: 4;
    text-align: end;
}

.nome__quantidade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0.3rem;
}

.nome {
    color: #333;
}

.quantidade {
    color: #4caf50;
    font-weight: bold;
}

.secao__itens__botoes {

}

.box__botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border-top: 1rem;
    border-color: black;
}

.botao__editar, .botao__deletar{
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.botao__editar {
    background-color: #00b5ad;
    color: #ffffff;
}

.botao__deletar {
    background-color: #ff5722;
    color: #ffffff;
}

.botao__editar:hover {
    background-color: #009e97;
}

.botao__deletar:hover {
    background-color: #c0392b;
}