* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(36, 40, 49);
}

.box {
    font-family: Rubik, sans-serif;
    border-radius: 0.7rem;
    background-color: #f2f3f4;
    color: rgb(56, 62, 77);
}

.central {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.titulos {
    background-color: #f2f3f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img {
    max-width: 86px;
    border: 1px solid;
    border-radius: 0.5rem;
}

.titulo1 {
    color: rgb(36, 106, 255);
    font-weight: 500;
}

.titulo2 {
    color:rgb(121, 127, 143);
    font-weight: 500;
}

.titulo3 {
    color: rgb(46, 46, 46);
    font-weight: 500;
}

.vizualzacao {
    background-color: #f2f3f4;
    flex-direction: column;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 1rem;
    gap: 0.4rem;
}

.barras {
    display: flex;
}

.barra1 {
    background-color: rgb(36, 106, 255);
    flex: 1;
    height: 14px;
    border-radius: 0.3rem 0 0 0.3rem;

}

.barra2 {
    background-color: #e2e2e2;
    flex: 2;
    height: 14px;
    border-radius: 0 0.3rem 0.3rem 0;

}

.tempo {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 0.7rem;
    border-radius: 0  0 0.7rem 0.7rem;
    background-color:rgb(228, 232, 236);
}