* {
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}

/* :root {
    --cor-cabecalo: #5A189A;
    --cor-secoes: #240046; 
    --cor-texto: #9D4EDD; 
    --cor-titulo: #C77DFF; 
    --cor-itens: #E0AAFF; 
} */

/* :root {
    --cor-cabecalo: #388087;
    --cor-secoes:#6FB3B8;
    --cor-texto:#BADFE7;
    --cor-titulo:#C2EDCE;
    --cor-itens: #F6F6F2;
} */

.main {
    background-color: black;
    padding: 4%;
}

.main__box {
    background-color: rgb(146, 47, 22);
    padding: 2%;
    border-radius: 2rem;
    max-width: 55rem; 
    min-height: 70rem;   
    margin-inline: auto;
}

.cabecalho {
    background-color:rgb(25, 32, 32);
    border-bottom: 0.25rem dotted rgb(255, 255, 255);
}

.cabecalho__menu {
    background-color: chocolate;
    padding: 1rem;
    display: flex;
}

.logo {
    background-color: darkcyan;
    border-radius: 1rem;
    width: 7rem;
    height: 7rem;
}

.navegacao {
    background-color: aquamarine;
    margin-left: auto;
    padding-top: 3rem;
}

.navegacao__lista {
    background-color: darkorange;
    display: flex;    
    flex-direction: row;
    gap: 15rem;
    list-style: none;

}

.botao__nav {
    background-color: chartreuse;
    font-size: 1.5rem;
    text-decoration: none;

}

.titulo {
    background-color: blueviolet;
    font-size: 3.5rem;
}

.titulo__sobre {
    background-color: rgb(111, 89, 133);
    font-size: 2rem;
}


.subtitulo {
    background-color: brown;
    font-size: 1.3rem;

}

.imagem {
    background-color: mediumslateblue;
    width: 100%;
}

.secao__inicio {
    background-color: aquamarine;
    text-align: center;
}

.secao__sobre {
    background-color: aquamarine;
    text-align: center;
}

.corpo__texto {
    background-color: aquamarine;
    text-align: center;
}

.texto {
    border-style: solid;
    padding: 1rem;
    font-size: 1.3rem;
}

.secao__planos {
    text-align: center;
}

.box__planos{
    background-color: burlywood;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box__lista {
    background-color: crimson; 
    border-style: solid;
    min-width: 25%;
}

.titulo__planos {
    text-align: justify;  
    font-size: 1.5rem;  
    margin: 0.5rem;
}

.lista {
    background-color: darkmagenta;
    padding-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.botao__valor {
    text-decoration: none;
    background-color: aqua;
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
}